
body {
  background-color: #181717;
  margin: 0;
  padding: 0;
}

  
.menu {
  
  margin-top: 2rem;

  }
 
  .text-container{
    height: 280px;
    margin-top:0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(0%, 0%);
       /* border:1px solid red; */

  }
  .text-left{
    font-family: 'ABC-Whyte-Light';
    width: 200px;
    font-size: 10px;
    color: white;
    margin: 0px;
    transform: translate(-70%, 100%);
  }

 .text-right{
  font-family: 'ABC-Whyte-Light';
  width: 300px;
  font-size: 15px;
  color: white;
  margin: 0px;
  transform: translate(50%, 0%);
  }
 .specail-text{
  font-family: 'ABC-Whyte-Mid';
 }
 .link-text{
  text-decoration: underline; 
 }


.half-ellipse-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #181717;
}

.half-ellipse {
  width: 100%; 
  max-width: 1200px; 
}
