
body {
  background-color: #181717;
  margin: 0;
  padding: 0;
}

.menu {

  margin-top: 2rem;

  }

 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1; /* Ensure it's above the GIF */
 
}

.gif-container {
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  transform: translate(0%, 10%);
}

.text-overlay {
  font-family: 'ABC-Whyte-Mid';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: black;
  z-index: 2; /* Ensure it's above the GIF and overlay */
}

.table-container {
  position: absolute;
  top: 70%; /* Adjust this value as needed */
  left: 50%;
  transform: translate(-50%, 100%);
  z-index: 2; /* Ensure it's above the GIF and overlay */
}

table {
  border-collapse: collapse;
  width: 200%;
  max-width: 1000px;
  margin: 0 auto;
}

th, td {
  padding: 8px;
  text-align: left;
  font-size: 15px;
  color: white;
}


.nev-content {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.nev-content-image {
  transform: translate(-70%, 0%);
}

.nev-content-text {
  width: 450px;
  font-size: 15px;
  color: white;
  margin: 0px;
  transform: translate(60%, 100%);
}


.llf-artwork-content {
  margin-top:-10rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   /* border:1px solid red; */
   transform: translate(0%, 20%);
}
.llf-artwork-image{
  transform: translate(5%, 0%);
}

.llf-artwork-texts{
    margin-top:0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.llf-artwork-text-right{
  margin-top: 2rem;
  font-family: 'ABC-Whyte-Mid';
  width: 350px;
  font-size: 20px;
  color: white;
  opacity: 0.7;
  transform: translate(-60%, 0%);
  
}
.llf-artwork-text-left{
  font-family: 'ABC-Whyte-Book';
  width: 400px;
  font-size: 15px;
  color: white;
  transform: translate(70%, -55%);
}


.llf-ticket-content {
  margin-top:0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transform: translate(0%, -15%);
}
.llf-ticket-content-image {
  transform: translate(-50%, 0%);
}

.llf-ticket-content-text {
  width: 400px;
  font-size: 15px;
  color: white;
  margin: 0px;
  transform: translate(70%, 100%);
}




.llf-code-content {
  margin-top:0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transform: translate(0%, -70%);
}
.llf-code-content-image {
  transform: translate(70%, 0%);
}
.llf-code-content-text {
  width: 400px;
  font-size: 15px;
  color: white;
  margin: 0px;
  transform: translate(-50%, 100%);
}

.end-content-text {
  width: 900px;
  font-size: 15px;
  color: white;
  margin: 0px;
  transform: translate(5%, 70%);
}

.end-content{
  margin-top:0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(0%,-850%);
    /* border:1px solid red; */
}

.visit-link {
  font-size: 30px;
  text-decoration: underline; 
  color: white; 
  transform: translate(180%, 1180%);
}
.back-link {
  font-size: 30px;
  text-decoration: underline; 
  color: white; 
  transform: translate(-160%, 1000%);
}
.Arrow-content-image{
  transform: translate(1100%, 1450%);
}



.footer-container {
  margin-top:0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(0%,-100%);
   
}
.footer-line-image{
  height: 4px;
  width: 100vw;
  transform: translate(0%, 0%);
}
.footer-text {
  width: 400px;
  font-size: 15px;
  color: white;
  margin: 0px;
  transform: translate(10%, 30%);
}
