
body
{
cursor:none;
}

h1 
{
font-family: 'ABC-Whyte-Light';
font-size: 1rem;
color: white
}

h2
{
font-family: 'ABC-Whyte-Book';
font-size: 1rem;
 color: white
}
h3
{
font-family: 'ABC-Whyte-Mid';
font-size: 1rem;
 color: white
}   

h4
{
font-family: 'ABC-Whyte-Reg';
font-size: 1rem;
color: white
}   

h5
{
font-family: 'ABC-Whyte-Thin';
font-size: 1rem;
color: white
}   

h6
{
font-family: 'ABC-Whyte-Thin';
font-size: 1rem;
color: white
}   



.menu {
  width: 100vw;
  position:absolute;
  margin-top: 0rem;
  margin: auto;
  text-align: end;
  transform: translate(-3%, -40%);
  /* border:1px solid wheat; */
  }
  
  /* navigation.css */
  
  .menu ul {
      list-style: none; 
      padding: 0; 
      display: flex;
      justify-content: flex-end;
    }
    
  .menu ul li a {
      color: white; 
      text-decoration: none; 
      display: inline;
      margin-right: 30px;
      
    }
  .menu img{
    margin-top: -5px;
    /* border:1px solid wheat; */
  }
  
  
  

.custom-cursor {
    z-index: 9999;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: radial-gradient(circle, rgba(255, 125, 3, 0.5), rgba(255, 124, 3, 0.5) 50%, transparent 50%);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    pointer-events: none;
    transition: all 0.15s ease;
    /* Center the cursor using transform */
    transform: translate(-50%, -50%);
  }
  


  .custom-gif-cursor {
    position: absolute;
    pointer-events: none;
    cursor: none;
    display: none;
    z-index: 9999;
    background-size: cover;
    background-position: center;
  }


  .custom-gif-cursor-2 {
    position: absolute;
    pointer-events: none;
    cursor: none;
    display: none;
    z-index: 9999;
    background-size: cover;
    background-position: center;
  }


